# Visual Studio files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

thirdparty/psyq/*
Win32
x64

build/ps1/*.elf
build/ps1/*.ps-exe
build/ps1/*.exe
build/ps1/*.map
build/ps1/comport.txt
*.o
*.dep

.vs/
vsprojects/packages

imgui.ini
comport.txt

*.mcd
pcsx.json